.button--reload {
    margin-left: 0 auto;
    background-color: red;
}

.play--button {
    cursor: pointer;
    margin: 0 auto;
    padding-left: 32%;
    padding-top: 10%;
}

.play--button:hover {
    cursor: pointer;
    transform: scale(110%);

}

.desktop-text {
    padding-left: 33%;
    color: rgb(234, 192, 85);
}