@use "../../../styles/partials/global" as *;
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/font" as *;
@use "../../../styles/partials/mixin" as *;

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}

.card {
    position: relative;
    display: block;
    height: 100%;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
}

.card__image {
    width: 100%;
    height: auto;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: .8em;
    color: #D7BDCA;
}

.card__status {
    font-size: .8em;
    color: #D7BDCA;
}

.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    padding-top: 1rem;
}

:root {
    --surface-color: #fff;
    --curve: 40;
}

.card--container--non--interactive {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    animation: fade-in 4s ease-out forwards;

    @keyframes fade-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @include desktop {
        display: block;

    }
}

.card--title {
    color: rgb(234, 192, 85);
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}

.modal p {
    margin: 20px 0;
}

.card--img--retrorumble {
    width: 100%;
}

.card--img--linkedIn {
    width: 100%;
    object-fit: cover;
}

.card--img--planetJumper {
    width: 100%;

}

.about-me-text,
.projects-text {
    color: whitesmoke;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 6.5s steps(40) 0s,
        blink-caret 1s step-end 0s,
        change-color 0.5s forwards 1.5s,
        hide-caret 0.1s forwards 1.5s;
    /* Add this */
}

/* Add this keyframes rule */
@keyframes hide-caret {
    0% {
        border-color: orange;
    }

    100% {
        border-color: transparent;
    }
}

.wrapper {
    padding: 100px;
}

.image--cover {
    height: 300px;
    border-radius: 50%;
    border: 2px solid rgb(234, 192, 85);
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    animation: fade-in 4s ease-out forwards;

    @keyframes fade-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

.text--profile--container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    @include desktop {
        flex-direction: row;
        padding: 6rem;
    }
}

.about--me--text {
    width: 80%;
    padding: 2rem;
    color: rgb(154, 122, 42);
    text-align: center;
    margin: 0 auto;


    @include desktop {
        width: 100%;
        padding: 2rem;
        font-size: 1.4rem;
        color: rgb(154, 122, 42);
        text-align: center;

    }
}

.about--me--text--container {
    display: flex;
    animation: fade-in 4s ease-out forwards;

    @keyframes fade-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @include desktop {
        display: block;

    }
}

.skill--icon--container {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    width: 80%;
    margin: 0 auto;

    @include desktop {
        padding-top: 5rem;

    }
}

.skill--image {
    width: 10%;
    height: 10%;
    object-fit: contain;
    object-position: center;
    animation: fade-in 4s ease-out forwards;

    @keyframes fade-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

.skill--image:hover {
    transform: scale(120%);
    cursor: pointer;
}

.down--arrow {
    width: 5%;
    margin: 0 auto;
    margin-top: 7rem;
    cursor: pointer;

}

.arrow--container {
    display: flex;
    justify-content: center;
}

.container--about-pic-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clickProfile {
    color: rgb(234, 192, 85);
}

.contact--text {
    color: rgb(234, 192, 85);
    padding-top: 2rem;
}

.contact--container {
    display: flex;
    justify-content: center;
}

.form--container {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
    color: rgb(234, 192, 85);

}

input,
textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.linkedin--contact {
    width: 2%;
}

.gmail--contact {
    width: 4%;
}